<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
</head>
<body>

    <header>
        <% include ../../partials/header %>
    </header>

    <main class="container-fluid">
        <div class="row">
          <div class="col-12 title">
            <h2><%= title %></h2>
          </div>
        </div>
        <div class="row">
          <% include ../../partials/dashboard/sidebar %>
          <div class="col-10" id="content">
            <div class="container">
              <div class="row">
                <div class="col-2">
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newcampaign">
                    New Campaign
                  </button>
                </div>
              </div>

              <div class="row text-center">
                <% content.forEach(function(campaign) { %>
                  <div class="col-sm-3">
                    <a href="/dashboard/campaign/<%= campaign._id %>">
                    <div class="card">
                      <div class="card-block">
                        <h3 class="card-title"><%= campaign.name %></h3>
                        <p class="card-text"><%= campaign.description %></p>
                        <a href="/dashboard/campaign/<%= campaign._id %>" class="btn btn-primary">Go</a>
                        <a href="/dashboard/deletecampaign/<%= campaign._id %>" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      </div>
                    </div>
                    </a>
                  </div>
                <% }); %>

              </div>
            </div>

          </div>
        </div>
    </main>
    <% include ../../partials/dashboard/newcampaign %>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>
</html>
